.navbar {
    display: flex;
    justify-content: center;
    background-color: #f3dbdb;
    align-items: center;
    color: #ffffff;
    padding: 10px;
  }

.navlink {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    background-color: #f1eeee;
    color: #ffffff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .navlink:hover {
    background-color: #555555;
  }
  

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 2px 0;
    font-size: 14px;
    color: #999999;
  }
  



.tabs {
  margin-bottom: 20px; 
}


.tab-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
}

.tab-header:hover {
  background-color: #e0e0e0;
}

.tab-header-active {
  background-color: #ffffff;
}


.tab-content {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0 5px 5px 5px;
  border-top: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

:root {
  --blue: #43A1D5;
  --gold: #D5B048;
  --navy_blue: #173E69;

  --light_blue: #AEDDF8;
  --light_gold: #F3DFA5;
  --light_navy_blue: #3772B4;

  --background: #FFFFFF;
  --onBackground: #000000;
}


.upper-part {
    background-color: var(--navy_blue);
}


.content {
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .25) 25%, rgba(255, 255, 255, .5) 40%, rgba(255, 255, 255, .75) 60%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
    position: relative;
    margin-top: -31.25rem;
    height: 31.25rem;
}

.welcome-title {
    color: var(--navy_blue);
    font-family: 'Oswald';
    font-size: 2.8rem;
    position: absolute;
    bottom: .5rem;
    left:  50%;
}


.app-container {
  display: flex;
  flex-direction: column;
}


.graph-container {
  flex: 1 1 auto;
  max-height: 500px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-group-text {
    margin-bottom: 1rem;
    text-align: center;
}

.markdown-title {
    font-family: 'Oswald';
    color: var(--navy_blue);
}

.metric-text {
    display: none;
}


.header-img {
  width: 100%;
  max-height: 400px; /* specify a max-height in px */
  object-fit: cover; /* this will ensure the image covers the whole area */
}
