.navbar {
  display: flex;
  justify-content: center;
  background-color: #f3dbdb;
  align-items: center;
  color: #ffffff;
  padding: 10px;
}

.navlink {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  background-color: #f1eeee;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navlink:hover {
  background-color: #555555;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  text-align: center;
  padding: 2px 0;
  font-size: 14px;
  color: #999999;
}


.tabs {
margin-bottom: 20px; 
}


.tab-header {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
font-weight: bold;
cursor: pointer;
background-color: #f0f0f0;
padding: 10px 20px;
border-radius: 5px 5px 0 0;
}

.tab-header:hover {
background-color: #e0e0e0;
}

.tab-header-active {
background-color: #ffffff;
}

.tab-content {
padding: 20px;
background-color: #ffffff;
border-radius: 0 5px 5px 5px;
border-top: 1px solid #e0e0e0;
border-right: 1px solid #e0e0e0;
border-left: 1px solid #e0e0e0;
}

:root {

--navy_blue: #173E69;
}

.content {
  background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .25) 25%, rgba(255, 255, 255, .5) 40%, rgba(255, 255, 255, .75) 60%, rgba(255, 255, 255, 1) 100%) repeat scroll 0 0;
  position: relative;
  margin-top: -31.25rem;
  height: 31.25rem;
}

.welcome-title {
  color: var(--navy_blue);
  font-family: 'Oswald';
  font-size: 2.8rem;
  position: absolute;
  bottom: .5rem;
  left:  50%;
}


.header-img {
width: 100%;
max-height: 400px;
object-fit: cover;
}

.home-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #1bd46f9a; 
}

.home-content .title {
  font-size: 32px;
  font-weight: bold;
  color: #333;
}


.home-content .section-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.home-content .text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  font-weight: normal;
  text-align: justify;
  line-height: 1.5;
}

.home-content .instructions {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #333;
  width: fit-content;
  font-weight: normal;
  text-align: justify;
  margin-bottom: 10px;
  line-height: 1.5;
}

.stacked-bar-content {
  padding-bottom: 30px;
}

.stacked-area-content {
  padding-bottom: 30px;
}
